export TURSO_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3ODIwMTc2NjYsImlkIjoiMDE5ZWU4ODctYWIwMS03YjNjLWI2MWQtMzcxNzk4ZjFlZGMwIiwicmlkIjoiZjYxMTUyYTQtODY4MC00MjE0LTgzMWQtZmY1Zjc0NzgyNzVlIn0.ohAjsOg3LeklYT36xxucXn9ek3Q5Dd1KFFKjpuPXXCRN7mOqcJ1flpgn0P_-7XjWr78u873CqPuNsb5oBtqMCA"
export TURSO_DATABASE_URL="libsql://sqld-vercel-icfg-5zazvp0udn0pff7xtwlmwlbj.aws-us-east-1.turso.io"
